* {
	margin: 0;
	padding: 0;
}

@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 400;
	/* Браузер сначала попробует найти шрифт локально */
	src: local("Roboto"),
		/* Если не получилось, загрузит woff2 */
		url("fonts/Roboto/Roboto-Regular.woff2") format("woff2"),
		/* Если браузер не поддерживает woff2, загрузит woff */
		url("fonts/Roboto/Roboto-Regular.woff") format("woff");
}

li {
	list-style-type: none;
}

a {
	text-decoration: none;
	transition: all 0.3s linear;
	-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	-ms-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
}

.center {
	max-width: 1180px;
	width: 100%;
	margin: 0 auto;
	/* outline: 1px dashed yellowgreen */
}

body {
	font-family: "Roboto", sans-serif;
	font-size: 18px;
	font-weight: normal;
	line-height: 27px;
	color: #8794BA;
	font-style: normal;
}

header {
	background-image: url(../img/background-top.png);
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 815px;
	height: 815px;
	padding-top: 50px;
}

.head_menu {
	font-size: 16px;
	line-height: 19px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 82px;
	margin-bottom: 74px;

}

.head_menu_link {}

.head_menu_nav {
	display: flex;
	flex-wrap: nowrap;
	/* Ширина блока 'head_menu_nav'
	 max-width('center') - logo-width - gap('head_menu')
	width: calc(1180px - 185px - 82px); */
	width: 913px;
	justify-content: space-between;
}

.head_menu_nav_list {
	display: flex;
	gap: 36px;
	align-items: center;
}

.head_menu_nav_item {}

.head_menu_nav_list_link,
.head_menu_nav_profile_link,
.head_menu_nav_burger_list_link {
	color: #8794BA;
}

.head_menu_nav_list_link:hover,
.head_menu_nav_profile_link:hover,
.head_menu_nav_burger_list_link:hover {
	color: white;
	transition: all 0.3s linear;
	-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	-ms-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
}

.head_menu_nav_profile {
	text-align: center;
	display: flex;
	align-items: center;
}

.head_menu_nav_profile_link {}

.head_menu_nav_list_link:active,
.head_menu_nav_profile_link:active,
.head_menu_nav_burger_list_link:active {
	color: #8794BA;
	transition: all 0.3s linear;
	-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	-ms-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
}

.head_menu_nav_profile_btn,
.head_menu_nav_profile_btn1 {
	margin-left: 40px;
	width: 161px;
	height: 40px;
	border: 1px solid #465B95;
	border-radius: 68px;
	background-color: #1E2E5C;
	color: #8794BA;
	transition: all 0.3s linear;
	-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	-ms-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
}

button:hover {
	color: #fff;
	background-color: #EF2A82;
	transition: all 0.3s linear;
	-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	-ms-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
}

.head_menu_nav_profile_btn:active {
	background-color: #1E2E5C;
	color: #8794BA;
}

.head_menu_nav_burger {
	display: none;
}

input[id="head_menu_nav_burger_switch"] {
	display: none;
}

.head_menu_nav_burger_img {
	fill: #8794BA;
	transition: all 0.3s linear;
	-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	-ms-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
}

.head_menu_nav_burger_img:hover {
	fill: white;
	transition: all 0.3s linear;
	-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	-ms-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
}

.head_menu_nav_burger_img:active {
	fill: #8794BA;
	transition: all 0.3s linear;
	-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	-ms-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
}

.head_menu_nav_burger_list {
	display: none;
	position: absolute;
	top: 55px;
	z-index: 1;
	background-color: #0F1F4B;
	right: 20px;
	box-shadow: -10px 10px 10px rgb(0 0 0 / 30%);
}

#head_menu_nav_burger_switch:checked~.head_menu_nav_burger_list {
	display: block;
}

.head_menu_nav_burger_list .head_menu_nav_item,
.head_menu_nav_burger_list .head_menu_nav_burger_item {
	margin-bottom: 20px;
}

.head_menu_nav_item_close_btn::before,
.head_menu_nav_item_close_btn::after {
	content: "";
	display: block;
	width: 24px;
	height: 2px;
	background: #8794BA;
	border-radius: 10px;
	position: absolute;
	top: 10px;
	transform: rotate(45deg);
	transition: background-color 0.3s ease;
	-webkit-transition: background-color 0.3s ease;
	-moz-transition: background-color 0.3s ease;
	-ms-transition: background-color 0.3s ease;
	-o-transition: background-color 0.3s ease;
	right: 20px;
	top: 25px;
}

.head_menu_nav_item_close_btn:hover::before,
.head_menu_nav_item_close_btn:hover::after {
	background: white;
}

.head_menu_nav_item_close_btn:active::before,
.head_menu_nav_item_close_btn:active::after {
	background: #2c79ffd4;
}

.head_menu_nav_item_close_btn::after {
	transform: rotate(-45deg);
}

.head_menu_nav_profile_btn1 {
	margin: 0 50px;
}

.head_menu_nav_profile_btn1:hover {
	background-color: #8794BA;
	color: #1E2E5C;
}

.head_menu_nav_profile_btn1:active {
	border: 1px solid #465B95;
	background-color: #1E2E5C;
	color: white;
}

.head_menu_nav_item_header {
	font-size: 24px;
	margin: 9px 0 24px 0;
	font-weight: bold;
}

.head_menu_nav_burger_item {
	margin: 0 20px;
	transition: all 0.3s linear;
	-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	-ms-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
}

.head_menu_nav_burger_item:hover {
	background-color: #172755;
	transition: all 0.3s linear;
	-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	-ms-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
}

.head_menu_nav_burger_list_link {
	display: block;
	font-size: 20px;
	width: 200px;
	line-height: 30px;
}

.head_promo_container {
	display: flex;
	gap: 81px;
	position: relative;
	margin-top: 74px;
}

.head_promo {}

.head_promo_txt_title {
	max-width: 550px;
	width: 100%;
	font-weight: 700;
	font-size: 50px;
	line-height: 60px;
	color: #FFFFFF;
	margin: 0 auto 15px auto;
}

.head_promo_txt_desc {
	max-width: 550px;
	width: 100%;
	font-weight: 400;
	font-size: 18px;
	line-height: 27px;
	color: #8794BA;
	margin: 0 auto 49px auto;
}

.head_promo_txt_desc_mobile {}

.head_promo_btn {
	display: block;
	width: 238px;
	min-height: 50px;
	background: #EF2A82;
	border-radius: 68px;
	box-sizing: border-box;
	border: none;
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;
	color: #FFFFFF;
	margin: 0 0 241px;
}

.head_promo_btn:hover {
	color: #EF2A82;
	background: #FFFFFF;
	transition: background-color 0.7s ease;
	cursor: pointer;
}

.head_promo_btn:active {
	color: #FFFFFF;
	background: #EF2A82
}

.top-mobile-img {
	display: none;
}

.head_promo_img_wrp {}

.head_promo_img {
	box-sizing: border-box;
	/* max-width: 873px; */
	max-width: calc(50% - 100px);

	width: 100%;
	min-height: 555px;
	background-image: url(../img/main-screen-1.png);
	position: absolute;
	background-repeat: no-repeat;
	box-shadow: 74px 18px 50px -15px rgba(25, 42, 89, 0.2);
}

.head_promo_img_image {}

.main_features {}

.main_features_title {
	font-weight: 700;
	font-size: 40px;
	line-height: 47px;
	text-align: center;
	margin-bottom: 30px;
	color: #172755;
}

.main_features_desc {
	max-width: 1060px;
	text-align: center;
	font-size: 18px;
	padding: 0 60px;
	line-height: 27px;
}

.main_features_list {
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	gap: 20px;
	flex-wrap: wrap;
	margin: 81px auto 130px auto;
}

.main_features_list_item {
	height: 164px;
	width: 380px;
	text-align: center;
}

.main_features_img {}

.main_features_list_text {
	padding: 15px 15px 0 15px;
}

.main_features_list_text_title {
	font-weight: 700;
	font-size: 16px;
	line-height: 19px;
	color: #172755;
}

.main_features_list_text_desc {
	padding-top: 15px;
	font-size: 16px;
	line-height: 22px;
}

.main_charts {
	display: flex;
	gap: 120px;
	flex-direction: column;
}

.main_charts_item {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	max-width: 1180px;
	width: 100%;
	justify-content: space-between;
}

.main_charts_item_content {
	height: 410px;
	width: 480px;
}

.main_charts_item_content_title {
	font-weight: 700;
	font-size: 40px;
	line-height: 47px;
	color: #172755;
	margin-bottom: 30px;
}

.main_charts_item_content_desc {
	font-size: 18px;
	line-height: 27px;
}

.main_charts_item_img {}

.main_charts_item_img_image {}

.main_plans_container {
	background-image: url(../img/background-bottom.png);
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 1070px;
	margin-top: 114px;
}

.main_plans {
	padding-top: 272px;

}

.main_plans_title {
	font-weight: 700;
	font-size: 40px;
	line-height: 47px;
	text-align: center;
	color: #FFFFFF;
	margin-bottom: 30px;
}

.main_plans_desc {
	max-width: 630px;
	width: 100%;
	font-size: 18px;
	line-height: 27px;
	text-align: center;
	margin: auto auto 80px auto;
	font-style: normal;
	font-weight: 400;
}

.main_plans_list {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 20px;
	overflow-x: auto;
	overflow-y: hidden;
	scroll-behavior: smooth;
	scroll-snap-type: x mandatory;
}

.main_plans_item {
	width: 340px;
	height: 440px;
	background: #0F1F4B;
	opacity: 0.7;
	scroll-snap-align: center;
	box-shadow: 0px 18px 50px -15px rgba(25, 42, 89, 0.2);
	border-radius: 30px;
}

.main_plans_item:hover {
	background-color: #FFFFFF;
	opacity: 1;
	transition: background-color 0.3s linear;
	-webkit-transition: background-color 0.3s linear;
	-moz-transition: background-color 0.3s linear;
	-ms-transition: background-color 0.3s linear;
	-o-transition: background-color 0.3s linear;
}

.main_plans_item_title {
	font-weight: 700;
	font-size: 30px;
	line-height: 35px;
	text-align: center;
	margin-top: 50px;
	color: #FFFFFF;
	margin-bottom: 10px;
}

.main_plans_item:hover .main_plans_item_title {
	color: #172755;
	transition: all 0.3s linear;
	-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	-ms-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
}

.main_plans_item_content {
	font-size: 18px;
	line-height: 27px;
	text-align: center;
}

.main_plans_item_line {
	width: 220px;
	margin: 37px auto 28px 60px;
}

.main_plans_item_price_usd {
	font-weight: 700;
	font-size: 30px;
	line-height: 35px;
	color: #FFFFFF;
}

.main_plans_item:hover .main_plans_item_price_usd {
	color: #172755;
	transition: all 0.3s linear;
	-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	-ms-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
}

.main_plans_item_price {
	font-weight: 700;
	font-size: 60px;
	line-height: 35px;
	color: #FFFFFF;
	text-align: center;
	margin-bottom: 5px;
}

.main_plans_item:hover .main_plans_item_price {
	color: #172755;
	transition: all 0.3s linear;
	-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	-ms-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
}

.main_plans_item_pediodic {
	font-size: 16px;
	line-height: 22px;
	text-align: center;
}

.main_plans_item_btn {
	height: 50px;
	border: 1px solid #2A407C;
	border-radius: 68px;
	width: 200px;
	background-color: #142450;
	font-size: 16px;
	line-height: 19px;
	color: #FFFFFF;
	margin: 40px 70px 70px 70px;
}

.main_plans_item:hover .main_plans_item_btn {
	border: 0px;
	background-color: #EF2A82;
	transition: all 0.3s linear;
	-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	-ms-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
}

.main_plans_item:hover .main_plans_item_btn:hover {
	background-color: #1E2E5C;
	color: #8794BA;
	transition: all 0.3s linear;
	-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	-ms-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
}

.main_plans_item:hover .main_plans_item_btn:active {
	background-color: #8794BA;
	color: #1E2E5C;
}

.main_form {
	display: flex;
	max-width: 952px;
	height: 522px;
	margin: 109px auto;
	justify-content: center;
}

.main_form_left {
	padding-top: 47px;
}

.main_form_left_title {
	font-weight: 700;
	font-size: 32px;
	line-height: 40px;
	color: #160637;
	max-width: 431px;
}

.main_form_left_img {
	margin: 75px auto 50px auto;

}

.main_form_left_parthners_list {
	display: grid;
	list-style: none;
	grid-template-columns: repeat(2, 132px);
	width: 302px;
	height: 156px;
	justify-items: end;
	justify-content: space-between;
	align-items: stretch;
	align-content: stretch;
}

.main_form_left_parthners_item {}

.main_form_left_parthners_item_img {}

.main_form_right {
	max-width: 428px;
	height: 475px;
	background: #FFFFFF;
	z-index: 1;
	outline: 1px dotted gray;
	/* Shadow 2 */
	box-shadow: 4px 4px 12px rgba(137, 137, 162, 0.122);
	border-radius: 8px;
}

.main_form_right::after {
	width: 480px;
	height: 480px;
	background-color: #F9F0FF;
	z-index: 2;
}

.main_form_right_title {
	font-weight: 700;
	font-size: 24px;
	line-height: 32px;
	text-align: center;
	color: #160637;
	margin: 32px 41px 0 41px;
}

.main_form_right_btn {
	font-weight: 500;
	font-size: 16px;
	line-height: 24px;
	text-align: center;
	color: #FFFFFF;
	background-color: #722ed1;
	border: none;
	width: 348px;
	height: 51px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	margin: 16px 40px 0 40px;
	transition: all 0.3s linear;
	-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	-ms-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
}

#id_mail,
#id_pass,
#id_pass2 {
	margin: 16px 40px 0 40px;
	width: 332px;
	height: 47px;
	padding-left: 16px;
}

.main_form_right_help {
	padding-top: 16px;
	font-weight: 500;
	font-size: 16px;
	line-height: 19px;
	text-align: center;
	color: #000000;
}

.main_form_right_rating {
	margin: 16px auto;
	height: 25px;
	display: flex;
	flex-direction: row-reverse;
	align-items: center;
	justify-content: center;
}

.main_form_right_rating:not(:checked)>input {
	display: none;
}

.main_form_right_rating:not(:checked)>label {
	width: 30px;
	cursor: pointer;
	font-size: 35px;
	color: lightgrey;
	text-align: center;
	line-height: 1;
}

.main_form_right_rating:not(:checked)>label:before {
	content: '★';
}

.main_form_right_rating>input:checked~label {
	color: #FFD36F;
}

.main_form_right_rating:not(:checked)>label:hover,
.main_form_right_rating:not(:checked)>label:hover~label {
	color: #FFD36F;
}

.main_form_right_rating>input:checked+label:hover,
.main_form_right_rating>input:checked+label:hover~label,
.main_form_right_rating>input:checked~label:hover,
.main_form_right_rating>input:checked~label:hover~label,
.main_form_right_rating>label:hover~input:checked~label {
	color: #FFD36F;
}

.main_form_right_line {
	margin: 0 auto 16px auto;
	width: 336px;
}

.main_form_right_text {
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	text-align: center;
	color: #8989A2;
}

footer {
	background-color: #1F2F5C;
}

.footer_container {
	display: flex;
	justify-content: space-between;
	padding: 64px 0 60px 0;
}

.footer_link {}

.footer_link_logo:hover path:nth-child(odd),
.footer_link_logo:hover path:nth-child(even) {
	fill: white;
	transition: all 0.3s linear;
	-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	-ms-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
}

.footer_nav {}

.footer_nav_list {
	list-style: none;
	display: flex;
	gap: 36px;
}

.footer_nav_item {}

.footer_nav_item_link {
	font-size: 14px;
	line-height: 16px;

	color: #8794BA;
}

.footer_nav_item_link:hover {
	color: white;
	transition: all 0.3s linear;
	-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	-ms-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
}

.footer_nav_item_link:active {
	color: #8794BA;
	transition: all 0.3s linear;
	-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	-ms-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
}

.footer_social_list {
	list-style: none;
	display: flex;
	gap: 40px;
	align-items: center;
}

.footer_social_item {
	width: 25px;
	height: 25px;
}

.footer_social_item_link {}

.footer_social_item_link_img {}

.footer_social_item_link_img {
	fill: white;
	transition: all 0.3s linear;
	-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	-ms-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
}

.footer_social_item_link_img path:last-child {
	fill: #8794BA;
}

.footer_social_item_link_img:hover path:first-child {
	/* fill: #F26376; */
	transition: all 0.3s linear;
	-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	-ms-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
}

.footer_social_item_link_img:hover path:last-child {
	fill: #fff;
}

.footer_social_item_link_img:active path:first-child {
	fill: #fff;
}

.footer_social_item_link_img:active path:last-child {
	fill: #EF2A82;
}

@media (max-width: 1240px) {
	.center {
		max-width: calc(100% - 40px);
	}

	.head_menu_nav {

		gap: 40px;
		width: calc(100% - 40px - 185px - 82px);
		justify-content: space-between;
	}

	.head_menu_nav_profile {}

	.head_promo_img {}

	.main_charts_item_img {}
}

@media (max-width: 1110px) {
	.main_charts_item {
		justify-content: center;
	}

	.main_charts_item:nth-child(even) {
		flex-direction: column-reverse;
		align-items: center;
	}

	.main_charts_item_content {
		height: auto;
		width: auto;
	}

	.main_plans_list::-webkit-scrollbar {
		height: 5px;
		scroll-padding-right: 100px;
	}

	.main_plans_list::-webkit-scrollbar-thumb {
		background-color: #2A407C;
		scroll-snap-align: center;
		border-radius: 9em;
		-webkit-border-radius: 9em;
		-moz-border-radius: 9em;
		-ms-border-radius: 9em;
		-o-border-radius: 9em;
	}
}

@media (max-width: 1000px) {
	header {
		padding-top: 20px;
	}

	.head_menu_nav {
		justify-content: flex-end;
	}

	.head_menu_nav_list {
		display: none;
	}

	.head_menu_nav_profile_btn {
		display: none;
	}

	.head_menu_nav_profile_link {
		left: calc(50% - 48px/2 + 101.5px);
	}

	.head_menu_nav_burger {
		margin-left: 18px;
		display: block;
	}

	.head_promo_container {
		justify-content: center;
		gap: 0;
	}

	.head_promo_img {
		display: none;
	}

	.main_plans_container {
		min-height: 857px;
		padding-bottom: 155px;
	}

	.main_form {
		margin: 34px auto;
	}

	.main_form_right_text {
		max-width: 431px;
		margin-bottom: 32px;
	}
}

@media (max-width: 900px) {
	.main_form_left {
		display: none;
	}

	.main_form_right {
		margin: 0 auto;
		max-width: 375px;
		height: auto;
	}

	.main_form_right_btn {
		margin: 16px 20px 0 20px;
		width: 335px;
	}

	#id_mail,
	#id_pass,
	#id_pass2 {
		margin: 16px 20px 0 20px;
		width: 315px;
		height: 51px;
	}

	.main_form_right_rating {
		margin: 16px 138px;
	}
}

@media (max-width: 767px) {
	.head_menu {
		margin-bottom: 29px;
	}

	.head_menu_nav_burger_list {
		width: 100%;
		right: 0;
		top: 60px;
	}

	.head_menu_nav_burger_list_link {
		width: 100%;
	}

	.head_promo_container {
		margin-top: 0;
	}

	.head_promo_txt_desc_mobile {
		display: none;
	}

	.head_promo_mobile_img {
		display: block;
		width: 335px;
		height: 231px;
		background-color: #fff;
		background-image: url(../img/mobile-img.png);
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;
		box-shadow: 0px 18px 50px -15px rgb(25 42 89 / 20%);
		border-radius: 12.5px;
		margin: 0 auto 26px auto;
	}

	.head_promo_txt_title {
		font-size: 31px;
		line-height: 37px;
	}

	.head_promo_txt_desc {
		margin-bottom: 26px;
	}

	.head_promo_btn {
		max-width: 335px;
		width: 100%;
		margin-bottom: 178px;
	}

	.main_features_title {
		margin: 50px auto 20px;
		text-align: left;
		font-size: 30px;
		line-height: 35px;
	}

	.main_features_desc {
		text-align: left;
		padding: 0;
		font-size: 14px;
		line-height: 20px;
	}

	.main_features_list {
		gap: 35px;
		margin: 40px auto 71px auto;
	}

	.main_features_list_item {
		display: flex;
		height: 88px;
	}

	.main_features_list_text {
		text-align: left;
		padding: 0 0 0 28px;
	}

	.main_features_list_text_desc {
		padding-top: 9px;
		font-size: 14px;
		line-height: 20px;
	}

	.main_charts {
		gap: 60px;
	}

	.main_charts_item {
		gap: 30px;
	}

	.main_charts_item_img_image {
		width: 335px;
		height: 229px;
	}

	.main_charts_item_content_title {
		margin-bottom: 20px;
		font-size: 30px;
		line-height: 35px;
	}

	.main_charts_item_content_desc {
		font-size: 14px;
		line-height: 20px;
	}

	.main_plans {
		padding-top: 205px;
	}

	.main_plans_container {
		margin-top: 0;
		padding-bottom: 120px;
	}

	.main_plans_title {
		margin-bottom: 20px;
		text-align: left;
		font-size: 30px;
		line-height: 35px;
	}

	.main_plans_desc {
		margin-bottom: 42px;
		text-align: left;
		font-size: 14px;
		line-height: 20px;
	}

	.main_plans_list {
		height: 420px;
	}

	.main_plans_item {
		height: 358px;
		width: 280px;
	}

	.main_plans_item_title {
		margin: 35px auto 7px;
		font-size: 25px;
		line-height: 29px;
	}

	.main_plans_item_content {
		font-size: 13px;
		line-height: 18px;
	}

	.main_plans_item_line {
		width: 220px;
		margin: 30px auto 20px auto;
	}

	.main_plans_item_price {
		font-size: 30px;
		line-height: 35px;
		margin-bottom: 15px;
	}

	.main_plans_item_pediodic {
		font-size: 13px;
		line-height: 18px;
	}

	.main_plans_item_btn {
		width: 206px;
		height: 50px;
		margin: 36px 37px 46px 37px;
	}

	.main_form {
		max-width: 375px;
		width: 100%;
	}

	.footer_link_logo {
		width: 125px;
	}

	.footer_nav {
		display: none;
	}
}