* {
	margin: 0;
	padding: 0;
}

@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 400;
	/* Браузер сначала попробует найти шрифт локально */
	src: local("Roboto"),
		/* Если не получилось, загрузит woff2 */
		url("fonts/Roboto/Roboto-Regular.woff2") format("woff2"),
		/* Если браузер не поддерживает woff2, загрузит woff */
		url("fonts/Roboto/Roboto-Regular.woff") format("woff");
}

a {
	text-decoration: none;
	transition: all 0.3s linear;
	-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	-ms-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
}

.center {
	max-width: 1180px;
	width: 100%;
	margin: 0 auto;
	outline: 1px dashed yellowgreen
}

body {
	font-family: "Roboto", sans-serif;
	font-size: 18px;
	font-weight: normal;
	line-height: 27px;
	color: #8794BA;
	font-style: normal;
}

header {
	background-image: url(../img/background-top.png);
	/* background-image: url(../img/background-top-1.png); */
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 815px;
	height: 815px;
	padding-top: 50px;
}

.head_menu {
	font-size: 16px;
	line-height: 19px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 82px;
	margin-bottom: 74px;

}

.head_menu_link {}

.head_menu_nav {
	display: flex;
	flex-wrap: nowrap;
	/* Ширина блока 'head_menu_nav'
	 max-width('center') - logo-width - gap('head_menu')
	width: calc(1180px - 185px - 82px); */
	width: 913px;
	justify-content: space-between;
}

.head_menu_nav_list {
	list-style-type: none;
	display: flex;
	gap: 36px;
	align-items: center;
}

.head_menu_nav_item {}

.head_menu_nav_list_link,
.head_menu_nav_profile_link {
	color: #8794BA;
}

.head_menu_nav_list_link {}

.head_menu_nav_list_link:hover,
.head_menu_nav_profile_link:hover {
	color: white;
}

.head_menu_nav_profile {
	text-align: center;
	display: flex;
	align-items: center;
}

.head_menu_nav_profile_link {
	/* padding-right: 40px; */
}

.head_menu_nav_profile_btn {
	margin-left: 40px;
	width: 161px;
	height: 40px;
	border: 1px solid #465B95;
	border-radius: 68px;
	background-color: #1E2E5C;
	color: #8794BA;
}

/* .head_menu_nav_profile_btn:hover { */
button:hover {
	color: #fff;
	background-color: #EF2A82;
	transition: all 0.3s linear;
	-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	-ms-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
}

.head_menu_nav_profile_btn:active {
	background-color: #1E2E5C;
	color: #8794BA;
}

.head_menu_nav_burger {
	display: none;
}

.head_menu_nav_burger_img {
	fill: #8794BA;
	transition: all 0.3 linear;
	-webkit-transition: all 0.3 linear;
	-moz-transition: all 0.3 linear;
	-ms-transition: all 0.3 linear;
	-o-transition: all 0.3 linear;
}

.head_menu_nav_burger_img:hover {
	fill: white;
	transition: all 0.3 linear;
	-webkit-transition: all 0.3 linear;
	-moz-transition: all 0.3 linear;
	-ms-transition: all 0.3 linear;
	-o-transition: all 0.3 linear;
	-webkit-transition: all 0.3 linear;
}

.head_promo_container {
	display: flex;
	gap: 2px;
	height: 555px;
}

.head_promo {
	padding-top: 78px;
	width: 550px;
}

.head_promo_txt {
	/* margin-bottom: 296px; */
}

.head_promo_txt_title {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 700;
	font-size: 50px;
	line-height: 60px;
	color: #FFFFFF;

	margin: 0;
	/* 	padding-bottom: 15px; */
}

.head_promo_txt_desc {
	font-size: 18px;
	line-height: 27px;

	margin-top: 15px;
}

.head_promo_txt_btn {
	background-color: #EF2A82;
	width: 238px;
	height: 50px;
	font-size: 16px;
	line-height: 19px;
	border-radius: 68px;
	border: none;
	color: #FFFFFF;

	margin-top: 49px;
}


.head_promo_txt_btn:hover {
	color: #fff;
	background-color: #EF2A82;
}

.head_promo_txt_btn:active {

	background-color: #1E2E5C;
	color: #8794BA;
}

.head_promo_img {
	background-image: url('../img/main-screen-1.png');
	background-repeat: no-repeat;
	background-size: contain;
	position: absolute;
	right: 0px;
	top: 151px;
	height: 555px;
	width: 708px;
}

.head_promo_img_image {}

.main_features {
	/* margin-top: 38px; */
}

.main_features_title {
	font-weight: 700;
	font-size: 40px;
	line-height: 47px;
	text-align: center;
	margin-bottom: 30px;
	color: #172755;
}

.main_features_desc {
	max-width: 1060px;
	text-align: center;
	font-size: 18px;
	padding: 0 60px;
	line-height: 27px;
}

.main_features_list {
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	gap: 20px;
	flex-wrap: wrap;
	margin: 81px auto 130px auto;
}

.main_features_list_item {
	height: 164px;
	width: 380px;
	text-align: center;
}

.main_features_img {}

.main_features_list_text {
	padding: 15px 15px 0 15px;
}

.main_features_list_text_title {
	font-weight: 700;
	font-size: 16px;
	line-height: 19px;
	color: #172755;
}

.main_features_list_text_desc {
	padding-top: 15px;
	font-size: 16px;
	line-height: 22px;
}

.main_charts {
	display: flex;
	gap: 120px;
	flex-direction: column;
}

.main_charts_item {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	/* gap: 100px; */
	max-width: 1180px;
	width: 100%;
	justify-content: space-between;
}

.main_charts_item_content {
	height: 410px;
	width: 480px;
}

.main_charts_item_content_title {
	font-weight: 700;
	font-size: 40px;
	line-height: 47px;
	color: #172755;
	margin-bottom: 30px;
}

.main_charts_item_content_desc {
	font-size: 18px;
	line-height: 27px;
}

.main_charts_item_img {}

.main_charts_item_img_image {}

.main_plans_container {
	background-image: url(../img/background-bottom.png);
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 1070px;
	margin-top: 114px;
}

.main_plans {
	padding-top: 272px;

}

.main_plans_title {
	font-weight: 700;
	font-size: 40px;
	line-height: 47px;
	text-align: center;
	color: #FFFFFF;
	margin-bottom: 30px;
}

.main_plans_desc {
	max-width: 630px;
	width: 100%;
	font-size: 18px;
	line-height: 27px;
	text-align: center;
	margin: auto auto 80px auto;
	font-style: normal;
	font-weight: 400;
}

.main_plans_list {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 20px;
	overflow-x: scroll;
	scroll-behavior: smooth;
	scroll-snap-type: x mandatory;
}

.main_plans_item {
	width: 340px;
	height: 420px;

	background: #0F1F4B;
	opacity: 0.7;
	/* card / shadow */

	box-shadow: 0px 18px 50px -15px rgba(25, 42, 89, 0.2);
	border-radius: 30px;
}

.main_plans_item_title {
	font-weight: 700;
	font-size: 30px;
	line-height: 35px;
	text-align: center;

	margin-top: 50px;
	color: #FFFFFF;
	margin-bottom: 10px;
}

.main_plans_item_content {
	font-size: 18px;
	line-height: 27px;

	text-align: center;
}

.main_plans_item_line {
	width: 220px;
	margin: 37px auto 28px 60px;
}

.main_plans_item_price_usd {
	font-weight: 700;
	font-size: 30px;
	line-height: 35px;
	color: #FFFFFF;
}

.main_plans_item_price {
	font-weight: 700;
	font-size: 60px;
	line-height: 35px;
	color: #FFFFFF;
	text-align: center;
	margin-bottom: 5px;
}

.main_plans_item_pediodic {
	font-size: 16px;
	line-height: 22px;
	text-align: center;
}

.main_plans_item_btn {
	height: 50px;
	border: 1px solid #2A407C;
	border-radius: 68px;
	width: 200px;
	background-color: #142450;
	font-size: 16px;
	line-height: 19px;
	color: #FFFFFF;
	margin: 40px 70px 70px 70px;
}

.main_form {
	display: flex;
	max-width: 952px;
	height: 522px;
	margin: 109px auto;
}

.main_form_left {
	padding-top: 47px;
}

.main_form_left_title {
	font-weight: 700;
	font-size: 32px;
	line-height: 40px;
	color: #160637;
}

.main_form_left_img {
	margin: 75px auto 50px auto;

}

.main_form_left_parthners_list {
	display: grid;
	list-style: none;
	grid-template-columns: repeat(2, 132px);
	width: 302px;
	height: 156px;
	justify-items: end;
	justify-content: space-between;
	align-items: stretch;
	align-content: stretch;
}

.main_form_left_parthners_item {}

.main_form_left_parthners_item_img {}

.main_form_right {
	width: 480px;
	height: 475px;
	background: #FFFFFF;
	z-index: 1;
	outline: 1px dotted gray;
	/* Shadow 2 */

	box-shadow: 4px 4px 12px rgba(137, 137, 162, 0.122);
	border-radius: 8px;
}

.main_form_right::after {
	/* margin-top: 42px; */
	width: 480px;
	height: 480px;
	background-color: #F9F0FF;
	z-index: 2;
}

.main_form_right_title {
	font-weight: 700;
	font-size: 24px;
	line-height: 32px;
	text-align: center;
	color: #160637;
	margin: 32px 41px 0 41px;
}

.main_form_right_btn {
	font-weight: 500;
	font-size: 16px;
	line-height: 24px;
	text-align: center;
	color: #FFFFFF;
	background-color: #722ed1;
	border: none;
	width: 348px;
	height: 51px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	margin: 16px 40px 0 40px;
}

#id_mail,
#id_pass,
#id_pass2 {
	margin: 16px 40px 0 40px;
	width: 332px;
	height: 51px;
	padding-left: 16px;
}

.main_form_right_help {
	padding-top: 16px;
	font-weight: 500;
	font-size: 16px;
	line-height: 19px;
	text-align: center;
	color: #000000;
}

.main_form_right_rating {
	margin: 16px 166px;

}

.main_form_right_rating_star {
	margin-right: -1px;
}

.main_form_right_line {
	margin-left: 43px;
	margin-bottom: 16px;
	width: 336px;
}

.main_form_right_text {
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	text-align: center;
	color: #8989A2;
}

footer {
	background-color: #1F2F5C;
}

.footer_container {
	display: flex;
	justify-content: space-between;
	padding: 64px 0 60px 0;
}

.footer_link {}

.footer_link_logo {}

.footer_nav {}

.footer_nav_list {
	list-style: none;
	display: flex;
	gap: 36px;
}

.footer_nav_item {}

.footer_nav_item_link {
	font-size: 14px;
	line-height: 16px;

	color: #8794BA;
}

.footer_social_list {
	list-style: none;
	display: flex;
	gap: 40px;
}

.footer_social_item {
	width: 25px;
	height: 25px;
}

.footer_social_item_link {}

.footer_social_item_link_img {}

@media (max-width: 1450px) {}

@media (max-width: 1240px) {
	.center {
		max-width: calc(100% - 40px);
	}

	.head_menu_nav {

		gap: 40px;
		width: calc(100% - 40px - 185px - 82px);
		justify-content: space-between;
	}

	.head_menu_nav_profile {}

	.head_promo_img {
		/* width: 50vw; */
		/* top: 17vw; */

	}

	.main_charts_item_img {}
}

@media (max-width: 1110px) {
	.main_charts_item {
		justify-content: center;
	}

	.main_charts_item:nth-child(even) {
		flex-direction: column-reverse;
		align-items: center;
	}
	
	.main_charts_item_content {
		height: auto;
	}
}

@media (max-width: 1000px) {
	header {
		padding-top: 20px;

	}

	.head_menu_nav {
		justify-content: flex-end;
	}

	.head_menu_nav_list {
		display: none;
	}

	.head_menu_nav_profile_link {
		/* 	gap: 18px;
	} */
		left: calc(50% - 48px/2 + 101.5px);
	}

	.head_menu_nav_burger {
		margin-left: 18px;
		display: block;
	}

}

@media (max-width: 768px) {
	.head_menu_nav_profile_btn {
		display: none;
	}

	.main_features_title {
		margin-bottom: 20px;
		text-align: left;
	}

	.main_features_desc {
		text-align: left;
		padding: 0;
	}

	.main_features_list {
		gap: 35px;
		margin: 40px auto 71px auto;
	}

	.main_features_list_item {
		display: flex;
		height: 88px;
	}

	.main_features_list_text {
		text-align: left;
		padding: 0 0 0 28px;
	}

	.main_features_list_text_desc {
		padding-top: 9px;
	}

	.main_charts {
		gap: 60px;
	}

	.main_charts_item {
		gap: 30px;
	}

	.main_charts_item_img {}

	.main_charts_item_content_title {
		margin-bottom: 20px;
	}

}